.event_card_wide {
    display: grid;
    grid-template-areas:
        "image header"
        "image description"
        "image footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    background: var(--color-white);
    height: 300px;
    margin-bottom: 2rem;
}

.image {
    grid-area: image;
    height: 300px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
}

.header h1:first-of-type {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-blue);
}

.header h1:last-of-type {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-black);
}

.description {
    grid-area: description;
    padding: 0px 1rem;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px 1rem;
    padding-bottom: 1.5rem;
}

.footer h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-blue);
    margin-left: auto;
}




.image {
    position: relative;
}

.image img {
    object-fit: cover;
}





/* Smaller than 1000px */
@media (max-width: 1000px) {
    .event_card_wide {
        grid-template-areas:
            "image"
            "header"
            "description"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    .image {
        height: 200px;
        width: 100%;
        overflow-x: hidden;
    }

    .wallpaper {
        width: 100%;
        object-fit: cover;
    }

    .header {
        padding: 0.25rem 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .description {
        padding: 1rem;
    }

    .footer {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer h1 {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

/* Smaller than 600px */
@media (max-width: 600px) {
    .event_card_wide {
        grid-template-areas:
            "image"
            "header"
            "description"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        width: 100%;
    }

    .image {
        height: 200px;
        width: 100%;
        overflow-x: hidden;
    }

    .wallpaper {
        width: 100%;
        object-fit: cover;
    }

    .header h1 {
        font-size: 2rem;
    }

    .description h3 {
        font-size: 1.5rem;
    }

    .description p {
        font-size: 1rem;
    }

    .footer {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer h1 {
        font-size:1.5rem;
    }
    .buttons{
        display: flex;
        width:100%;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 0.5rem;
    }
    .buttons>a{
        margin:0;
    }
}