.header {
  width: 100%;
  height: 75vh;
  position: relative;
}

.wallpaper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.textBlock {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textBlock h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  margin:1rem 0;
}

.textBlock h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}

.textBlock h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Smaller than 600px */
@media (max-width: 600px) {
  .textBlock h1 {
    font-size: 2rem;
  }
  .textBlock h2 {
    font-size: 1rem;
  }
  .textBlock h3 {
    font-size: 1rem;
  }
  .buttons{
    flex-direction: column;
    align-items: stretch;
  }
  .buttons a{
    margin:0;
  }
  .buttons a:last-of-type{
    margin-top:0.5rem;
  }
  .textBlock{
    bottom:1;
  }
}