.red {
    color: red;
    font-weight: bold;
}

.feedbackButton {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background: var(--color-white);
    border: 0.25rem solid var(--color-blue);
    z-index: 9999;
    padding: 0.5rem 1rem;
}

.feedbackButton a {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width:100%;
    display: block;
    height: 100%;
}